In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# File Path
all_ages_csv_file = 'Resources/all-ages.csv'

#Import file as a DataFrame
all_ages_df = pd.read_csv(all_ages_csv_file)

In [3]:
new_all_ages_df = all_ages_df[['Major_code', 'Major', 'Major_category', 'Total', 'Employed', 'Employed_full_time_year_round', 'Unemployed', 'Unemployment_rate']]

In [4]:
# File Path
grad_students_csv_file = 'Resources/grad-students.csv'

#Import file as a DataFrame
grad_students_df = pd.read_csv(grad_students_csv_file)

In [5]:
new_grad_students_df = grad_students_df[['Major_code', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]

In [6]:
merge_data = pd.merge(new_all_ages_df, new_grad_students_df, on="Major_code", how="inner")

In [7]:
ag_nat = merge_data[merge_data["Major_category"] == "Agriculture & Natural Resources"]
arts_db =  merge_data[merge_data["Major_category"] == "Arts"]
bio_db = merge_data[merge_data["Major_category"] == "Biology & Life Science"]
business_db =  merge_data[merge_data["Major_category"] == "Business"]
comm_db =  merge_data[merge_data["Major_category"] == "Communications & Journalism"]
comp_math_db =  merge_data[merge_data["Major_category"] == "Computers & Mathematics"]
education_db =  merge_data[merge_data["Major_category"] == "Education"]
engine_db =  merge_data[merge_data["Major_category"] == "Engineering"]
health_db =  merge_data[merge_data["Major_category"] == "Health"]
humanity_db =  merge_data[merge_data["Major_category"] == "Humanities & Liberal Arts"]
indus_db =  merge_data[merge_data["Major_category"] == "Industrial Arts & Consumer Services"]
inter_db =  merge_data[merge_data["Major_category"] == "Interdisciplinary"]
law_pub_db =  merge_data[merge_data["Major_category"] == "Law & Public Policy"]
phys_sci_db =  merge_data[merge_data["Major_category"] == "Physical Sciences"]
psyc_social_db =  merge_data[merge_data["Major_category"] == "Psychology & Social Work"]
soc_sci_db =  merge_data[merge_data["Major_category"] == "Social Science"]
majors_db = merge_data[["Major_code", "Major", "Major_category"]]

In [8]:
clean_ag_nat = ag_nat[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_arts_db = arts_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_bio_db = bio_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_bus_db = business_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_comm_db = comm_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_comp_math_db = comp_math_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_education_db = education_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_engine_db = engine_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_health_db = health_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_humanity_db = humanity_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_indus_db = indus_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_inter_db = inter_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_law_db = law_pub_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_phys_sci_db = phys_sci_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_psych_db = psyc_social_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]
clean_soc_sci_db = soc_sci_db[['Major', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]

In [9]:
connection_string = "postgres:postgres@localhost:5432/College"
engine = create_engine(f'postgresql://{connection_string}')

In [10]:
engine.table_names()

['Majors_db',
 'clean_humanity_db',
 'clean_indus_db',
 'clean_inter_db',
 'clean_law_db',
 'clean_phys_sci_db',
 'clean_psyc_db',
 'clean_soc_sci_db',
 'clean_ag_nat',
 'clean_arts_db',
 'clean_bio_db',
 'clean_bus_db',
 'clean_comm_db',
 'clean_comp_math_db',
 'clean_education_db',
 'clean_engine_db',
 'clean_health_db']

In [11]:
majors_db.to_sql(name='majors_db', con=engine, if_exists='append', index=True)

In [14]:
clean_humanity_db.to_sql(name='clean_humanity_db', con=engine, if_exists='replace', index=True, index_label="id")

In [15]:
clean_arts_db.to_sql(name='clean_arts_db', con=engine, if_exists='replace', index=True, index_label="id")

In [16]:
clean_ag_nat.to_sql(name='clean_ag_nat', con=engine, if_exists='replace', index=True, index_label="id")

In [17]:
clean_bio_db.to_sql(name='clean_bio_db', con=engine, if_exists='replace', index=True, index_label="id")

In [18]:
clean_bus_db.to_sql(name='clean_bus_db', con=engine, if_exists='replace', index=True,index_label="id")

In [19]:
clean_comm_db.to_sql(name='clean_comm_db', con=engine, if_exists='replace', index=True,index_label="id")

In [20]:
clean_comp_math_db.to_sql(name='clean_comp_math_db', con=engine, if_exists='replace', index=True,index_label="id")

In [21]:
clean_education_db.to_sql(name='clean_education_db', con=engine, if_exists='replace', index=True,index_label="id")

In [22]:
clean_engine_db.to_sql(name='clean_engine_db', con=engine, if_exists='replace', index=True,index_label="id")

In [23]:
clean_health_db.to_sql(name='clean_health_db', con=engine, if_exists='replace', index=True,index_label="id")

In [24]:
clean_indus_db.to_sql(name='clean_indus_db', con=engine, if_exists='replace', index=True,index_label="id")

In [25]:
clean_inter_db.to_sql(name='clean_inter_db', con=engine, if_exists='replace', index=True,index_label="id")

In [26]:
clean_law_db.to_sql(name='clean_law_db', con=engine, if_exists='replace', index=True,index_label="id")

In [27]:
clean_phys_sci_db.to_sql(name='clean_phys_sci_db', con=engine, if_exists='replace', index=True,index_label="id")

In [28]:
clean_psych_db.to_sql(name='clean_humanity_db', con=engine, if_exists='replace', index=True,index_label="id")

In [29]:
clean_soc_sci_db.to_sql(name='clean_soc_sci_db', con=engine, if_exists='replace', index=True, index_label="id")

In [32]:
pd.read_sql_query('select * from majors_db', con=engine).head()

,index,Major_code,Major,Major_category
0,0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources
1,1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources
2,2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources
3,3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources
4,4,1104,FOOD SCIENCE,Agriculture & Natural Resources