In [1]:
# Dependencies
import pandas as pd

In [2]:
# File Path
all_ages_csv_file = 'Resources/all-ages.csv'

#Import file as a DataFrame
all_ages_df = pd.read_csv(all_ages_csv_file)
all_ages_df.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

In [3]:
new_all_ages_df = all_ages_df[['Major_code', 'Major', 'Major_category', 'Total', 'Employed', 'Employed_full_time_year_round', 'Unemployed', 'Unemployment_rate']]

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188

In [4]:
# File Path
grad_students_csv_file = 'Resources/grad-students.csv'

#Import file as a DataFrame
grad_students_df = pd.read_csv(grad_students_csv_file)

,Major_code,Major,Major_category,Grad_total,Grad_sample_size,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Grad_unemployment_rate,Grad_median,...,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed,Nongrad_unemployment_rate,Nongrad_median,Nongrad_P25,Nongrad_P75,Grad_share,Grad_premium
0,5601,CONSTRUCTION SERVICES,Industrial Arts & Consumer Services,9173,200,7098,6511,681,0.087543,75000.0,...,86062,73607,62435,3928,0.050661,65000.0,47000,98000.0,0.096320,0.153846
1,6004,COMMERCIAL ART AND GRAPHIC DESIGN,Arts,53864,882,40492,29553,2482,0.057756,60000.0,...,461977,347166,250596,25484,0.068386,48000.0,34000,71000.0,0.104420,0.250000
2,6211,HOSPITALITY MANAGEMENT,Business,24417,437,18368,14784,1465,0.073867,65000.0,...,179335,145597,113579,7409,0.048423,50000.0,35000,75000.0,0.119837,0.300000
3,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,5411,72,3590,2701,316,0.080901,47000.0,...,37575,29738,23249,1661,0.052900,41600.0,29000,60000.0,0.125878,0.129808
4,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics,9109,171,7512,5622,466,0.058411,57000.0,...,53819,43163,34231,3389,0.072800,52000.0,36000,78000.0,0.144753,0.096154

In [5]:
new_grad_students_df = grad_students_df[['Major_code', 'Grad_total', 'Grad_employed', 'Grad_full_time_year_round', 'Grad_unemployed','Nongrad_total', 'Nongrad_employed', 'Nongrad_full_time_year_round', 'Nongrad_unemployed']]

,Major_code,Grad_total,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed
0,5601,9173,7098,6511,681,86062,73607,62435,3928
1,6004,53864,40492,29553,2482,461977,347166,250596,25484
2,6211,24417,18368,14784,1465,179335,145597,113579,7409
3,2201,5411,3590,2701,316,37575,29738,23249,1661
4,2001,9109,7512,5622,466,53819,43163,34231,3389

In [6]:
merge_data = pd.merge(new_all_ages_df, new_grad_students_df, on="Major_code", how="inner")

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Grad_total,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,44306,28930,23024,874,123984,86631,72409,2352
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,17488,13104,11207,473,89169,71781,61335,1869
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,14800,10592,8768,216,33049,25557,22496,734
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,56807,47755,39047,596,94910,74896,61629,3101
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,14521,10857,8074,370,22853,16298,12431,681

In [24]:
ag_nat = merge_data[merge_data["Major_category"] == "Agriculture & Natural Resources"]
arts_db =  merge_data[merge_data["Major_category"] == "Arts"]
bio_db = merge_data[merge_data["Major_category"] == "Biology & Life Science"]
business_db =  merge_data[merge_data["Major_category"] == "Business"]
comm_db =  merge_data[merge_data["Major_category"] == "Communications & Journalism"]
comp_math_db =  merge_data[merge_data["Major_category"] == "Computers & Mathematics"]
education_db =  merge_data[merge_data["Major_category"] == "Education"]
engine_db =  merge_data[merge_data["Major_category"] == "Engineering"]
health_db =  merge_data[merge_data["Major_category"] == "Health"]
humanity_db =  merge_data[merge_data["Major_category"] == "Humanities & Liberal Arts"]
indus_db =  merge_data[merge_data["Major_category"] == "Industrial Arts & Consumer Services"]
inter_db =  merge_data[merge_data["Major_category"] == "Interdisciplinary"]
law_pub_db =  merge_data[merge_data["Major_category"] == "Law & Public Policy"]
phys_sci_db =  merge_data[merge_data["Major_category"] == "Physical Sciences"]
psyc_social_db =  merge_data[merge_data["Major_category"] == "Psychology & Social Work"]
soc_sci_db =  merge_data[merge_data["Major_category"] == "Social Science"]
majors_db = merge_data[["Major_code", "Major", "Major_category"]]

,Major_code,Major,Major_category
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources
4,1104,FOOD SCIENCE,Agriculture & Natural Resources